*.Rhistory
*.RData
*.Rproj.user
*.code-workspace

LLM/
smoke/

*.tar.gz

# compiled objects
src/*.o
src/*.so
src/*.dll

# tests

/scratch/
/smoke/

# vignette source
inst/doc/*.tex
inst/doc/*.Rnw
inst/doc/*.synctex.gz